@{
    ViewData["Title"] = "Privacidade";
}

<div class="main-container">
    <h1>Política de Privacidade</h1>

    <p>Este sistema de estoque é de uso exclusivo da loja Cereais Brasil.</p>

    <p>Todos os dados cadastrados (produtos, quantidades, histórico de movimentação) são armazenados apenas para controle interno da loja e não serão compartilhados com terceiros.</p>

    <p>Os usuários são responsáveis por manter suas credenciais seguras.</p>

    <p>Em caso de dúvidas sobre o uso de dados dentro do sistema, entre em contato com o administrador.</p>
</div>
<footer>
    &copy; 2026 Loja XYZ. | <a href="/Home/Privacy" style="color:#eaffea; text-decoration:underline;">Privacidade</a>
</footer>
